<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="article-title">
      <%= link_to article.title, article_path(article) %>
      <div class="admin-btns">
        <%= link_to edit_article_path(article) do %><i class="fa fa-edit"></i><% end %>
        <%= link_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o"></i><% end %>
      </div>
    </h1>
    <p class="info">
      Posted on <%= article.created_at.strftime '%D at %l:%M %p' %>
      <% if article.user %>
        by <%= link_to article.user.username, article.user %>
      <% end %>
    </p>
    <p><%= article.text %></p>
  </div>
</div>
